<a href="https://colab.research.google.com/github/Vikkysai/Python/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
#data loading
data=pd.read_csv('\Users\Durgam sai vivek\Downloads\archive (1).zip')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (<ipython-input-9-4de451b8b1ac>, line 2)

In [10]:
data.isnull().sum()

AttributeError: 'function' object has no attribute 'isnull'

data.duplicated().sum()

In [11]:
data.duplicated().sum()

AttributeError: 'function' object has no attribute 'duplicated'

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.columns

In [ ]:
data.head()

In [ ]:
# Compute basic statistics of customer spending avg amount
mean_values =data["AverageSpend"].mean()
sum_values = data["AverageSpend"].sum()
range_values = data["AverageSpend"].max() - data["AverageSpend"].min()

print('Mean values:\n', mean_values)
print('Sum values:\n', sum_values)
print('Range of values:\n', range_values)

In [ ]:
#count of every column in dataset
for column in data:
    plt.figure(figsize=(14, 5))
    sns.countplot(x=column,data=data)
    plt.title(f'Distribution of {column}')
    plt.show()

In [ ]:
data.head()

In [ ]:
data['VisitFrequency'].unique()

In [ ]:
# Age Distribution of customers using histogram

plt.figure(figsize=(10, 6))
plt.hist(data['Age'], bins=20, edgecolor='black')
plt.title('Age Distribution of Customers')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.grid(True)
plt.show()

In [ ]:
#Customer's avg rating as per occasion

service_rating_by_occasion = data.groupby('DiningOccasion')['ServiceRating'].mean()

plt.figure(figsize=(10, 6))
service_rating_by_occasion.plot(kind='bar')
plt.title('Service Rating by Dining Occasion')
plt.xlabel('Dining Occasion')
plt.ylabel('Average Service Rating')
plt.xticks(rotation=90)
plt.grid(axis='y')
plt.show()

In [ ]:
# Calculate proportion of high satisfaction in each age group
high_satisfaction_by_age_group = data.groupby('Age')['HighSatisfaction'].mean().head(10)

plt.figure(figsize=(10, 6))
high_satisfaction_by_age_group.plot(kind='bar')
plt.title('High Satisfaction Proportion by Age Group')
plt.xlabel('Age Group')
plt.ylabel('Proportion of High Satisfaction')
plt.xticks(rotation=0)
plt.grid(axis='y')
plt.show()

In [ ]:
#correlation between service rating and food rating?
plt.figure(figsize=(8, 6))
plt.scatter(data['ServiceRating'], data['FoodRating'], alpha=0.5)
plt.title('Correlation between Service Rating and Food Rating')
plt.xlabel('Service Rating')
plt.ylabel('Food Rating')
plt.grid(True)
plt.tight_layout()
plt.show()

correlation = data['ServiceRating'].corr(data['FoodRating'])
print(f"Correlation between Service Rating and Food Rating: {correlation:.2f}")

In [ ]:
#meal timing has the highest average service rating
service_rating_by_meal_type = data.groupby('TimeOfVisit')['ServiceRating'].mean()

plt.figure(figsize=(10, 6))
service_rating_by_meal_type.plot(kind='bar')
plt.title('Average Service Rating by Meal Type')
plt.xlabel('Meal Type')
plt.ylabel('Average Service Rating')
plt.xticks(rotation=45)
plt.grid(axis='y')
plt.show()

In [ ]:
#average spend by group size
avg_spend_by_group_size = data.groupby('GroupSize')['AverageSpend'].mean()

plt.figure(figsize=(10, 6))
avg_spend_by_group_size.plot(kind='bar')
plt.title('Average Spend by Group Size')
plt.xlabel('Group Size')
plt.ylabel('Average Spend (INR)')
plt.xticks(rotation=0)
plt.grid(axis='y')
plt.show()